<h1> Base Data Transformation </h1>

* <b>Stores transformed data into a csv file (<i>df_wine_horizontal_tests.csv</i>)</b>
* <b>Does not include one hot encoding of categorical variables (e.g. country, variety)</b>
* <b>Includes extraction of year of the wine</b>

In [1]:
import pandas as pd 
import numpy as np
import re
from sklearn.preprocessing import LabelEncoder

In [2]:
# Load the Wine Dataset
df_wine = pd.read_csv("../data/winemag-data-130k-v2.csv", encoding = 'utf8', index_col=0)

In [3]:
# fill unexisting values in region 2 with values of region 1
df_wine["region"] = df_wine["region_2"].fillna(df_wine["region_1"])
df_wine.head(1)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,region
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,Etna

In [4]:
# select most complete columns
df_wine = df_wine[['country','province','region','price','title','variety','points']]
df_wine = df_wine.reset_index(drop=True)
# drop NaN values
df_wine = df_wine.dropna()
df_wine = df_wine.reset_index(drop=True)

In [5]:
# check NaN values
df_wine.isnull().sum()

country     0
province    0
region      0
price       0
title       0
variety     0
points      0
dtype: int64

In [6]:
# check data
df_wine.head(10)

,country,province,region,price,title,variety,points
0,US,Oregon,Willamette Valley,14.0,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,87
1,US,Michigan,Lake Michigan Shore,13.0,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,87
2,US,Oregon,Willamette Valley,65.0,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,87
3,Spain,Northern Spain,Navarra,15.0,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,87
4,Italy,Sicily & Sardinia,Vittoria,16.0,Terre di Giurfo 2013 Belsito Frappato (Vittoria),Frappato,87
5,France,Alsace,Alsace,24.0,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,87
6,France,Alsace,Alsace,27.0,Jean-Baptiste Adam 2012 Les Natures Pinot Gris...,Pinot Gris,87
7,US,California,Napa,19.0,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,87
8,France,Alsace,Alsace,30.0,Leon Beyer 2012 Gewurztraminer (Alsace),Gewürztraminer,87
9,US,California,Sonoma,34.0,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,87

In [7]:
# check distinct years in title
df = pd.DataFrame(df_wine['title'])
df['year'] = df['title'].str.extract('(\d+)')
df.year.unique()

array(['2013', '2012', '2011', '2010', '2007', '2009', '2014', '2015',
       nan, '2016', '2', '2004', '2003', '2006', '2008', '2001', '2005',
       '2002', '9', '46', '1887', '2000', '1999', '1991', '1997', '772',
       '1', '41', '42', '44', '14', '33', '2017', '1637', '35', '39',
       '1996', '4', '3', '012', '401', '181', '1492', '1898', '1998',
       '7200', '1852', '50', '7', '12', '66', '1995', '1994', '1992',
       '18401', '15', '5', '6', '1929', '240', '075', '17', '1875', '22',
       '10', '786', '21', '8', '38', '351', '460', '1856', '91', '29',
       '24', '25', '1990', '1988', '154', '511', '1827', '1860', '45',
       '735', '1872', '52', '109', '204', '150', '1850', '337', '1877',
       '30', '310', '1870', '100', '205', '1000', '1868', '16', '103',
       '585', '413', '1989', '1993', '360', '32', '20', '1882', '51',
       '375', '1821', '47', '158', '69', '128', '1947', '13', '1070',
       '1985', '1927', '1904', '68', '1847', '1982', '1986', '90', '736',
       '253', '010', '1752', '28', '1789', '75', '1987', '88', '1607',
       '813', '1621', '31', '800', '1978', '1919', '868', '19', '013',
       '1845', '09', '1150', '500', '61', '23', '555', '428', '18', '125',
       '999', '36', '60', '01', '34', '1945', '26', '733'], dtype=object)

In [8]:
# FUNCTION: FIND ALL NUMBERS IN THE TITLE, ADD THEM TO A LIST VARIABLE
def regex(x):
    L = re.findall(r'\d+', str(x))
    L_str = ",".join(str(x) for x in L)
    return str(L_str)

# FOR ALL THE NUMERIC VALUES IN THE TITLES FIND THEM AND ADD TO A NEW DATA FRAME AS COLUMNS
def regex2(y):
    L = re.findall(r'\d+', str(y))
    X = np.array([L])
    new_L = []
    for x in X:
        a = x.tolist()
        b = []
        for i in range(1, numeric_values_ct + 1):
            if len(a) == numeric_values_ct:
                new_L.append(a)
                break
            else:
                for j in range(0, numeric_values_ct - len(a)):
                     b = a.extend([0])
    return new_L

In [9]:
df['title_num_values'] = df['title'].apply(regex)

In [10]:
# FINDING HOW MANY NUMBERS DOES EACH TITLE INCLUDE
df['num_count'] = df.title_num_values.str.count(',') + 1
numeric_values_ct = df.num_count.max()

In [11]:
xx = df['title'].apply(regex2)
new_list1 = []
new_list2 = []
new_list3 = []
new_list4 = []
new_list5 = []
for row in xx:
    new_list1.append(row[0][0])
    new_list2.append(row[0][1])
    new_list3.append(row[0][2])
    new_list4.append(row[0][3])
    new_list5.append(row[0][4])

In [12]:
df.insert(loc=0, column='N5', value= pd.Series(new_list5))
df.insert(loc=0, column='N4', value= pd.Series(new_list4))
df.insert(loc=0, column='N3', value= pd.Series(new_list3))
df.insert(loc=0, column='N2', value= pd.Series(new_list2))
df.insert(loc=0, column='N1', value= pd.Series(new_list1))

In [13]:
# SET 0 FOR ALL THE VALUES WHICH HAS MORE THAN 4 DIGIT
df.loc[df['N1'].astype(str).map(len) != 4 , 'N1'] = 0
df.loc[df['N2'].astype(str).map(len) != 4 , 'N2'] = 0
df.loc[df['N3'].astype(str).map(len) != 4 , 'N3'] = 0
df.loc[df['N4'].astype(str).map(len) != 4 , 'N4'] = 0
df.loc[df['N5'].astype(str).map(len) != 4 , 'N5'] = 0

# SET 0 FOR ALL THE VALUES GREATER THAN CURRENT YEAR
df.loc[df['N1'].astype(int) > 2018 , 'N1'] = 0
df.loc[df['N2'].astype(int) > 2018 , 'N2'] = 0
df.loc[df['N3'].astype(int) > 2018 , 'N3'] = 0
df.loc[df['N4'].astype(int) > 2018 , 'N4'] = 0
df.loc[df['N5'].astype(int) > 2018 , 'N5'] = 0

In [14]:
df['year_of_wine'] = df[['N5','N4','N3','N2','N1']].astype(int).max(axis=1)

In [15]:
# DELETE ALL THE YEARS BEFORE 1900 
df = df[['title', 'year_of_wine']]
df.loc[df['year_of_wine']  < 1900 , 'year_of_wine'] = 0
df.year_of_wine.unique()

array([2013, 2012, 2011, 2010, 2007, 2009, 2014, 2015,    0, 2016, 2004,
       2003, 2006, 2008, 2001, 2005, 2002, 2000, 1999, 1991, 1997, 2017,
       1996, 1998, 1995, 1994, 1992, 1990, 1988, 1989, 1993, 1947, 1985,
       1927, 1904, 1982, 1986, 1987, 1978, 1919, 1945])

In [16]:
# CONCAT THE YEAR COLUMN TO MAIN DATAFRAME
try:
    if 'year_of_wine' not in df_wine:
        df_wine = pd.concat([df_wine, df.year_of_wine], axis=1)
except (RuntimeError, TypeError, NameError):
    print("Error: concating year to main dataframe")

In [17]:
df_wine[['title','year_of_wine']].head()

                                               title  year_of_wine
0      Rainstorm 2013 Pinot Gris (Willamette Valley)          2013
1  St. Julian 2013 Reserve Late Harvest Riesling ...          2013
2  Sweet Cheeks 2012 Vintner's Reserve Wild Child...          2012
3  Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...          2011
4   Terre di Giurfo 2013 Belsito Frappato (Vittoria)          2013

In [18]:
print(df_wine.shape)

(101400, 8)

In [19]:
df_wine = df_wine[df_wine['year_of_wine'] > 0]

In [20]:
print(df_wine.shape)

(97703, 8)

In [21]:
df_wine = df_wine.drop('title', axis=1) # year was already extracted
df_wine.head(5)

,country,province,region,price,variety,points,year_of_wine
0,US,Oregon,Willamette Valley,14.0,Pinot Gris,87,2013
1,US,Michigan,Lake Michigan Shore,13.0,Riesling,87,2013
2,US,Oregon,Willamette Valley,65.0,Pinot Noir,87,2012
3,Spain,Northern Spain,Navarra,15.0,Tempranillo-Merlot,87,2011
4,Italy,Sicily & Sardinia,Vittoria,16.0,Frappato,87,2013

In [22]:
# save data
df_wine.to_csv('df_wine_horizontal_tests.csv')