<h1> Predictor typos in most influential country </h1>


* <b>Reads each db containing n-typos (<i>df_wine_country_typos_n.csv</i>)</b>
* <b>Incrementally generates typos from 1 to 100%</b>
* <b>In each case, executes one hot encoding of categorical variables</b>
* <b>In each case, calculates HPO </b>
* <b>Retrieves base MSE of data with n-typos</b>
* ! <b>The number of experiments is limited by execution time constraint</b>

In [24]:
# imports
import copy
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split 
from sklearn import metrics
from sklearn import linear_model
import pandas as pd 
import numpy as np
from sklearn import metrics  
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from scipy.stats import randint as sp_randint
from sklearn.preprocessing import LabelEncoder
import random
import string

%matplotlib inline

In [25]:
df_wine = pd.read_csv("df_wine_country_typos_2.csv", encoding = 'utf8', index_col=0)
df_wine = df_wine.reset_index()
#frequencies = df_wine['country'].value_counts()
#frequencies.sort_values
#print(frequencies)

In [26]:
df_wine_typos = pd.get_dummies(df_wine, columns=['country'])
df_wine_typos = pd.get_dummies(df_wine_typos, columns=['province'])
df_wine_typos = pd.get_dummies(df_wine_typos, columns=['region'])
df_wine_typos = pd.get_dummies(df_wine_typos, columns=['variety'])
df_wine_typos.head(4)

,level_0,index,price,points,year_of_wine,country_AASB,country_AGES,country_AIoS,country_AQSN,country_ASC,...,variety_Vitovska,variety_Viura,variety_Viura-Chardonnay,variety_Viura-Verdejo,variety_White Blend,variety_White Riesling,variety_Xarel-lo,variety_Zibibbo,variety_Zinfandel,variety_Zweigelt
0,0,0,14.0,87,2013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,13.0,87,2013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,65.0,87,2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,3,15.0,87,2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
data_sets = list()
n=50
for i in range(1, n+1):
    # Load the Typo Wine Dataset
    df_wine = pd.read_csv("df_wine_country_typos_{}.csv".format(i), encoding = 'utf8', index_col=0)
    df_wine = df_wine.reset_index()
    df_wine.head(4)
    
    # one hot encoding
    df_wine_typos = pd.get_dummies(df_wine, columns=['country'])
    df_wine_typos = pd.get_dummies(df_wine_typos, columns=['province'])
    df_wine_typos = pd.get_dummies(df_wine_typos, columns=['region'])
    df_wine_typos = pd.get_dummies(df_wine_typos, columns=['variety'])
    
    data_sets.append(df_wine_typos)

In [28]:
print(len(data_sets))

50

In [ ]:
# check columns number
print("[TEST]")
i = 1 
for df in data_sets:
    aux = copy.deepcopy(df)
    print("[OK] Data set contains {}% of typos in {} columns.".format(i , len(aux.columns)))
    i += 1

In [30]:
def get_hyperparameters(X_train, y_train):
    regressor3 = DecisionTreeRegressor()
    param_dist = {'max_depth': sp_randint(2,16),
                  'min_samples_split': sp_randint(2,16)}

    n_iter_search = 20
    clfrs = RandomizedSearchCV(regressor3, 
                               param_distributions=param_dist,
                               scoring='neg_mean_squared_error',
                               cv=5 , n_jobs=1, verbose=1,
                               n_iter=n_iter_search)
    clfrs.fit(X_train, y_train)
    params = clfrs.best_params_
    return params["max_depth"], params["min_samples_split"]

In [31]:
data_sets[0].head(4)

,level_0,index,price,points,year_of_wine,country_Argentina,country_Australia,country_BBS,country_BBpS,country_BSW,...,variety_Vitovska,variety_Viura,variety_Viura-Chardonnay,variety_Viura-Verdejo,variety_White Blend,variety_White Riesling,variety_Xarel-lo,variety_Zibibbo,variety_Zinfandel,variety_Zweigelt
0,0,0,14.0,87,2013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,13.0,87,2013,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,65.0,87,2012,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,3,15.0,87,2011,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# RESULTS

In [ ]:
import time

results = list()
i = 1

for df in data_sets:
    aux = copy.deepcopy(df)
    print("[OK] Experiment {} contains {}% of typos in {} columns.".format(i, i, len(aux.columns)))
    start_time = time.time()
    # split data
    df_X = aux.drop('points', axis=1)
    df_Y = aux[['points']]
    X_train, X_test, y_train, y_test = train_test_split(df_X, df_Y, test_size=0.3, random_state=0)
    print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
    # get hyperparameters
    # max_depth, min_samples_split = get_hyperparameters(X_train, y_train)
    # print("max_depth: {}, min_samples_split: {}".format(max_depth, min_samples_split))
    
    # apply regression
    regressor = DecisionTreeRegressor()  
    regressor.fit(X_train, y_train) # Train the model using the training sets
    y_pred = regressor.predict(X_test) # Make predictions using the testing set

    # The evaluation metrics
    mae = metrics.mean_absolute_error(y_test, y_pred)
    mse = metrics.mean_squared_error(y_test, y_pred)
    rmse = np.sqrt(metrics.mean_squared_error(y_test, y_pred))
    print('Mean Absolute Error:', mae)  
    print('Mean Squared Error:', mse)  
    print('Root Mean Squared Error:', rmse) 
    print("*****"*20)
    elapsed_time = time.time() - start_time
    
    # store results
    result = dict(
        n=i,
        columns=len(aux.columns),
        elapsed_time=int(elapsed_time),
        results=dict(mae=mae, mse=mse, rmse=rmse)
    )
    results.append(result)
    i += 1
#     if i == 3:
#         break

[OK] Experiment 1 contains 1% of typos in 2074 columns.
(68392, 2073) (29311, 2073) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1787724744976287
Mean Squared Error: 8.782163692811572
Root Mean Squared Error: 2.963471560992542
****************************************************************************************************
[OK] Experiment 2 contains 2% of typos in 2513 columns.
(68392, 2512) (29311, 2512) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1791477602265363
Mean Squared Error: 8.78438129030057
Root Mean Squared Error: 2.963845692727705
****************************************************************************************************
[OK] Experiment 3 contains 3% of typos in 2979 columns.
(68392, 2978) (29311, 2978) (68392, 1) (29311, 1)
Mean Absolute Error: 2.175701954897479
Mean Squared Error: 8.729964859609021
Root Mean Squared Error: 2.9546513939226435
****************************************************************************************************
[OK] Experiment 4 contains 4% of typos in 3383 columns.
(68392, 3382) (29311, 3382) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1835147214356385
Mean Squared Error: 8.817269966906622
Root Mean Squared Error: 2.969388820432013
****************************************************************************************************
[OK] Experiment 5 contains 5% of typos in 3777 columns.
(68392, 3776) (29311, 3776) (68392, 1) (29311, 1)
Mean Absolute Error: 2.174507863941865
Mean Squared Error: 8.6770495718331
Root Mean Squared Error: 2.9456832096872025
****************************************************************************************************
[OK] Experiment 6 contains 6% of typos in 4187 columns.
(68392, 4186) (29311, 4186) (68392, 1) (29311, 1)
Mean Absolute Error: 2.190235747671523
Mean Squared Error: 8.804339667701546
Root Mean Squared Error: 2.9672107555247145
****************************************************************************************************
[OK] Experiment 7 contains 7% of typos in 4523 columns.
(68392, 4522) (29311, 4522) (68392, 1) (29311, 1)
Mean Absolute Error: 2.196410903756269
Mean Squared Error: 8.847361058988094
Root Mean Squared Error: 2.974451387901321
****************************************************************************************************
[OK] Experiment 8 contains 8% of typos in 4941 columns.
(68392, 4940) (29311, 4940) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1832076694756233
Mean Squared Error: 8.758895977619323
Root Mean Squared Error: 2.9595432042156986
****************************************************************************************************
[OK] Experiment 9 contains 9% of typos in 5306 columns.
(68392, 5305) (29311, 5305) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1923168776227353
Mean Squared Error: 8.811265395244106
Root Mean Squared Error: 2.968377569522467
****************************************************************************************************
[OK] Experiment 10 contains 10% of typos in 5683 columns.
(68392, 5682) (29311, 5682) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1681962403193342
Mean Squared Error: 8.702398416976562
Root Mean Squared Error: 2.949982782488156
****************************************************************************************************
[OK] Experiment 11 contains 11% of typos in 6081 columns.
(68392, 6080) (29311, 6080) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1887346047558935
Mean Squared Error: 8.824263928218075
Root Mean Squared Error: 2.9705662638995407
****************************************************************************************************
[OK] Experiment 12 contains 12% of typos in 6365 columns.
(68392, 6364) (29311, 6364) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1806147862577188
Mean Squared Error: 8.763604107672887
Root Mean Squared Error: 2.9603385123449795
****************************************************************************************************
[OK] Experiment 13 contains 13% of typos in 6801 columns.
(68392, 6800) (29311, 6800) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1558118112653952
Mean Squared Error: 8.586025724130872
Root Mean Squared Error: 2.9301920967968758
****************************************************************************************************
[OK] Experiment 14 contains 14% of typos in 7122 columns.
(68392, 7121) (29311, 7121) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1801712667599196
Mean Squared Error: 8.684555286411245
Root Mean Squared Error: 2.9469569536067617
****************************************************************************************************
[OK] Experiment 15 contains 15% of typos in 7478 columns.
(68392, 7477) (29311, 7477) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1768619289686466
Mean Squared Error: 8.706424209341202
Root Mean Squared Error: 2.9506650452637286
****************************************************************************************************
[OK] Experiment 16 contains 16% of typos in 7771 columns.
(68392, 7770) (29311, 7770) (68392, 1) (29311, 1)
Mean Absolute Error: 2.190099280133738
Mean Squared Error: 8.768448705264236
Root Mean Squared Error: 2.961156649902912
****************************************************************************************************
[OK] Experiment 17 contains 17% of typos in 8160 columns.
(68392, 8159) (29311, 8159) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1832417863600697
Mean Squared Error: 8.781856640851558
Root Mean Squared Error: 2.9634197544140717
****************************************************************************************************
[OK] Experiment 18 contains 18% of typos in 8426 columns.
(68392, 8425) (29311, 8425) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1650233700658457
Mean Squared Error: 8.629422401146327
Root Mean Squared Error: 2.9375878542005047
****************************************************************************************************
[OK] Experiment 19 contains 19% of typos in 8782 columns.
(68392, 8781) (29311, 8781) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1732114223329124
Mean Squared Error: 8.680461260277712
Root Mean Squared Error: 2.9462622524611946
****************************************************************************************************
[OK] Experiment 20 contains 20% of typos in 9083 columns.
(68392, 9082) (29311, 9082) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1762478250486166
Mean Squared Error: 8.708607689945755
Root Mean Squared Error: 2.9510350201151043
****************************************************************************************************
[OK] Experiment 21 contains 21% of typos in 9442 columns.
(68392, 9441) (29311, 9441) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1733820067551433
Mean Squared Error: 8.602572413087238
Root Mean Squared Error: 2.9330142197212816
****************************************************************************************************
[OK] Experiment 22 contains 22% of typos in 9760 columns.
(68392, 9759) (29311, 9759) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1771348640442154
Mean Squared Error: 8.703353689741054
Root Mean Squared Error: 2.9501446896281296
****************************************************************************************************
[OK] Experiment 23 contains 23% of typos in 9984 columns.
(68392, 9983) (29311, 9983) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1626010712701715
Mean Squared Error: 8.581761113575109
Root Mean Squared Error: 2.9294643048815443
****************************************************************************************************
[OK] Experiment 24 contains 24% of typos in 10381 columns.
(68392, 10380) (29311, 10380) (68392, 1) (29311, 1)
Mean Absolute Error: 2.171164409266146
Mean Squared Error: 8.644160895227047
Root Mean Squared Error: 2.940095388797283
****************************************************************************************************
[OK] Experiment 25 contains 25% of typos in 10658 columns.
(68392, 10657) (29311, 10657) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1753607860530177
Mean Squared Error: 8.621336699532598
Root Mean Squared Error: 2.9362112831900564
****************************************************************************************************

[OK] Experiment 26 contains 26% of typos in 10973 columns.
(68392, 10972) (29311, 10972) (68392, 1) (29311, 1)
Mean Absolute Error: 2.1636245778035548
Mean Squared Error: 8.577394152366006
Root Mean Squared Error: 2.928718858539687
****************************************************************************************************
[OK] Experiment 27 contains 27% of typos in 11255 columns.
(68392, 11254) (29311, 11254) (68392, 1) (29311, 1)

In [ ]:
import pprint
pp = pprint.PrettyPrinter(indent=4)
pp.pprint(results)